<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.warren.gsb" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Liste_medoc"
            android:label="@string/title_activity_liste_medoc"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.warren.gsb.MainActivity" />
        </activity>
        <activity
            android:name=".Ajout_medoc"
            android:label="@string/title_activity_ajout_medoc"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.warren.gsb.MainActivity" />
        </activity>
        <activity
            android:name=".Form_dosage"
            android:label="@string/title_activity_dosage"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.warren.gsb.MainActivity" />
        </activity>
        <activity
            android:name=".Voir_dosage"
            android:label="@string/title_activity_voir_dosage"
            android:parentActivityName=".Form_dosage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.warren.gsb.Form_dosage" />
        </activity>
        <activity
            android:name=".Ajout_medoc2"
            android:label="@string/title_activity_ajout_medoc2"
            android:parentActivityName=".Ajout_medoc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.warren.gsb.Ajout_medoc" />
        </activity>
    </application>

</manifest>
